body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f1f1f;
    color: #fff;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #2980b9;
}
